header{
  display: flex;
  flex-direction: row;
  height: 260px;
  background-color: #2C3E50;
  justify-content: space-between;
  align-items: center;

  img.logo{
    width: 260px;
  }

  h2{
    font-size: 96px;
    font-weight: 400;
    color: #FFFFFF;
  }

  nav{
    display: flex;
    flex-direction: row;
    gap: 14px;
    button{
      cursor: pointer;
      border-radius: 90px;
      background-color: white;
      border: none;
      padding: 20px;
      img{
        height: 82px;
        width: 87px;
      }
    }
  }
}
